*{padding: 0; margin:0; box-sizing: border-box; font-family: sans-serif;}

.services-info{
	text-align: center;
}
.services-info h1{
	font-size: 50px;
}
.services-info p{
	font-size: 25px;
	font-weight: bold;
}

#contact{
	padding: 30px 0px;
}

.contact-row{
	display: flex;
	justify-content: center;
	align-items: center;
}
.contact-left-col{
	flex-basis: 50%;
	padding-top: 50px;
}
.contact-right-col{
	flex-basis: 50%;
	max-width: 450px;
	margin: auto;
}
.contact-right-col i{
	font-size: 20px;
	padding: 10px;
	background:#74b9ff;
	color: white; 
}
.contact-right-col p{
	margin-top: 10px;
	margin-bottom: 20px;
}
.form{

	width: 70%;
	margin:auto;
	text-align: center;
}
.form input[type="text"]{
	width: 70%;
	padding: 10px;
	margin-bottom: 10px;
}
textarea{
	width: 70%;
	padding: 10px;
	margin-bottom: 10px;
}

